@model IEnumerable<HastaneRez.Models.Doctor>
@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("CategoryList")
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <strong>@item.DoctorName</strong>
                    </div>
                    <img src="@item.Image" class="card-img-top" alt="..." style="height:200px">
                    <div class="card-body">
                        <p class="card-text"><strong>Poliklinik:</strong> @item.Poliklinik</p>
                        <p class="card-text"><strong>Çalışma saatleri:</strong> @item.Calisma</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


